{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container-fluid">
    <article>
      <h1>Welcome to Slack Overflow for Galvanize!</h1>
      <p>An archive for questions, answers, and resources posted here and in your Slack channel.</p>
      <p>To get the most out of this site, sign up and authorize Slack acess.</p>
    </article>
  </div>

  <div class='container-fluid'>
    <main>
      <div class='subheader'>
        <h2>Top Questions</h2>
      </div>
      <article class='question-summary flex-container'>
        <div class='flex-item-size-1'>
          <h4>2</h4>
          <p>rating</p>
        </div>
        <div class='flex-item-size-1'>
          <h4>1</h4>
          <p>answers</p>
        </div>
        <div class='flex-item-size-3'>
          <h4>'Not sure how to select all from a table with parameters...'</h4>
          <div class='tag-collection'>
            <div class='tag'>knex</div>
          </div>
        </div>
      </article>
    </main>

    <aside>
      <h3>Sort Questions</h3>
      
    </aside>
  </div>

{% endblock %}
