{% extends './layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <article class='container-fluid qa-box'>
    <div class='row'>
      <div class='col-md-12'>
        <h3>{{ question.title }}</h3>
      </div>
      <div class='col-md-2'></div>
    </div>
    <div class='row'>
      <div class='col-md-1'></div>
      <div class='col-md-11'>
        <p>{{ question.body }}</p>
      </div>
    </div>
    <div class='row tag-row'>
      <div class='col-md-1'></div>
      <div class='col-md-10'>
        {% for tag in tags %}
        <div class='btn btn-sm btn-info'>{{ tag }}</div>
        {% endfor %}
      </div>
      <div class='col-md-1'></div>
    </div>
  </article>

  <div class="container-fluid">

    <div class='row'>
      <div class='col-md-1'></div>

      <div class='col-md-10'>
        <form method='post'>
          <input type='number' id='user_id' class='form-hidden' value='{{ user }}' name='user_id' />
          <input type='number' id='question_id' class='form-hidden' value='{{ questionId }}' name='question_id' />
          <div class='form-group'>
            <label for='descrip'>Enter Your Answer</label>
            <textarea name='body' class='form-control' placeholder='Your answer here...' rows='10' cols='30' required></textarea>
          </div>
          <input formaction='/questions/{{questionId}}/answer' type='submit' value='Submit' class='btn btn-lg btn-success'/>
          <a href='/questions/{{ questionId }}' class='btn btn-lg btn-danger'>Cancel</a>
        </form>
      </div>

      <div class='col-md-1'></div>
    </div>

  </div>

{% endblock %}
