{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<article class='container-fluid qa-box'>
  <div class='row'>
    <div class='col-md-12'>
      <h3>{{ question.title }}</h3>
    </div>
    <div class='col-md-2'></div>
  </div>
  <div class='row'>
    <div class='col-md-1'>
      <div class='vote'>
        <a class="vote-up" title="This question shows research effort; it is useful and clear"></a>
        <span class="vote-count">{{ question.score }}</span>
        <a class="vote-down" title="This question does not show any research effort; it is unclear or not useful"></a>
      </div>
    </div>
    <div class='col-md-11'>
      <p>{{ question.body }}</p>
    </div>
  </div>
  <div class='row tag-row'>
    <div class='col-md-1'></div>
    <div class='col-md-10'>
      {% for tag in tags %}
      <div class='btn btn-sm btn-info'>{{ tag }}</div>
      {% endfor %}
    </div>
    <div class='col-md-1'></div>
  </div>
</article>

<a class='answer-button' href='{{ question.id }}/answer'><button class='btn btn-sucess btn-sm'>Answer This Question</button></a>
{% if user.auth_id === 2 %}
<a class='answer-button' href='{{question.id}}/delete'><button class='btn btn-danger btn-sm'>Delete Question</button></a>
{% endif %}
<hr>

<h2 class='answer-header'>Answers</h2>

{% for answer in answers %}
  <article class='container-fluid qa-box'>
    <div class='row'>
      <div class='col-md-12'>
        <h3>{{ answer.title }}</h3>
      </div>
      <div class='col-md-2'></div>
    </div>
    <div class='row'>
      <div class='col-md-1'>
        <div class='vote'>
          <a class="vote-up" title="This question shows research effort; it is useful and clear"></a>
          <span class="vote-count">{{ answer.score }}</span>
          <a class="vote-down" title="This question does not show any research effort; it is unclear or not useful"></a>
        </div>
      </div>
      <div class='col-md-11'>
        <p>{{ answer.body }}</p>
        {% if user.auth_id === 2 %}
        <a href='questions/{{ questionId }}/answer/{{ answer.id }}/delete'><button class='btn btn-danger btn-sm'>Delete Answer</button></a>
        {% endif %}
      </div>
    </div>
  </article>
{% endfor %}


{% endblock %}
