{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<article class='container-fluid question-box'>
  <div class='row'>
    <div class='col-md-10'>
      <h3 class='question-title'>Not sure how to select all from a table with parameters...</h3>
    </div>
    <div class='col-md-2'></div>
  </div>
  <div class='row'>
    <div class='col-md-1'>
      <div class='vote'>
        <a class="vote-up" title="This question shows research effort; it is useful and clear"></a>
        <span class="vote-count">1</span>
        <a class="vote-down" title="This question does not show any research effort; it is unclear or not useful"></a>
      </div>
    </div>
    <div class='col-md-11'>
      <p>Hey class. I'm trying to select all the entries from a table using a where statement, and I can't figure out how to do it. I've tried knex.select().where('name', Dave). It's not working. Help!</p>
    </div>
  </div>
  <div class='row tag-row'>
    <div class='col-md-1'></div>
    <div class='col-md-10'>
      <div class='btn btn-sm btn-info'>knex</div>
    </div>
    <div class='col-md-1'></div>
  </div>
</article>

<div>


{% endblock %}
