.answer-header {
  margin: 3rem;
}

.answer-button {
  margin: 3rem;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-item-size-1 {
  flex-grow: 1;
}

.flex-item-size-3 {
  flex-grow: 3;
}

.form-hidden {
  visibility: hidden;
}

.qa-box {
  border: .2rem solid gray;
  margin: 3rem;
  border-radius: 1rem;
  padding-bottom: 1rem;
}

.question-summary {
  border: .2rem solid gray;
  padding: .75rem;
  margin: 3rem;
  border-radius: 1rem;
}

.right-float {
  float: right;
}

.tag-row {
  margin-bottom: 1rem;
}

.vote {
  width: 3rem;
  text-align: center;
}

.vote-count {
  font-size: 3rem;
}

.vote-up-q,
.vote-up-a {
  width: 0;
  height: 0;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-bottom: 1.5rem solid orange;
  display: block;
}

.vote-down-q,
.vote-down-a {
  width: 0;
	height: 0;
	border-left: 1.5rem solid transparent;
	border-right: 1.5rem solid transparent;
	border-top: 1.5rem solid orange;
  display: block;
}
